set tabstop=2 softtabstop=2 expandtab shiftwidth=2 smarttab

call plug#begin('~/.local/share/nvim/plugged')

Plug 'ctrlpvim/ctrlp.vim'

call plug#end()

let g:ctrlp_map = '<C-p>' 
let g:ctrlp_cmd = 'CtrlP'
